<h1>ResolutionTracker</h1>

<p>
  Hi 
</p>

<p>
  以下是<%= @owner.id %>的目標：
  <ul>
    <li>目標：<%= @goal.title%></li>
    <li>預計完成日期：<%= @goal.complete_date %></li>
  </ul>
  目標連結：<%= link_to @goal.title, "#" %>
</p>

<p>
  請好好督促 <%= @owner.id %> 喔！
</p>