<h2>分享目標</h2>

<%= nested_form_for @goal do |f| %>
  <%= f.fields_for :shared_mails do |mail_form| %>    
    <%= mail_form.text_field :mail_addr %>
    <%= mail_form.link_to_remove "Remove this mail address" %>
  <% end %>
  
  <%= f.link_to_add "Add a mail address", :shared_mails %>
  <%= f.submit "儲存email", disable_with: "Submiting...", class: "btn btn-primary" %>
<% end %>