<div class="col-md-10 col-md-offset-1">
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>目標</th>
        <th>預計完成時間</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @goals.each do |goal| %>
        <tr>
          <td>
            <%= link_to complete_goal_path(goal),method: :patch do %>
              <i class="fa fa-check"></i>
            <% end %>
          </td>
          
          <% if goal.completed? %>
            <td style="opacity: 0.5;"><strike><%= link_to goal.title, goal_path(goal) %></td> 
            <td style="opacity: 0.5;"><strike><%= goal.complete_date.to_s %></td>
          <% else %>              
            <td><%= link_to goal.title, goal_path(goal) %></td>
            <td><%= goal.complete_date.to_s %></td>
          <% end %>
          
          <td>
            <% if goal.editable_by?(current_user) %>      
              <%= link_to goal_path(goal), method: :delete, data: { confirm: "Are you sure?" } do %>
                <i class="fa fa-trash-o"></i>
              <% end %>
            <% end %>    
          </td>
        </tr> 
      <% end %>
    </tbody>
  </table>  
</div>