<div class="col-md-10 col-md-offset-1">
  <h3><%= @goal.title %></h3>
  <p><%= @goal.comment %></p>

  <div class="col-md-4 col-md-offset-4">
    <%= link_to "上一頁", goals_path  %>
    <%= link_to "編輯", edit_goal_path(@goal) %>
    <%= link_to "分享目標", new_goal_shared_mail_path(@goal) %>
  </div>
</div>